<!--ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app!-->
<ion-content>
  <ion-card-content>
    <input type= "name" (mouseenter) = "getVal($event)" (mouseleave)="pin($event)" >
    <ion-button (click)="commit()" type="button">submit</ion-button>
    <h2>{{currentVal}}</h2>
  </ion-card-content>
  <table>
    <tr>
      <th>Message</th>
      <th>STatus</th>
    </tr>
    <div *ngFor="let com of lstcomments">
      <td>{{com.Message}}</td>
      <td>{{com.Status}}</td>
      <td>hello</td>
      <td> {{ 'https://api.postalpincode.in/pincode/' + currentVal}}</td>
    </div>
  </table>
</ion-content>
